@model IEnumerable<Game>

<link href="~/css/homeindexstyle.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Home Page";
}
@if (!Model.Any())
{
   <div class="alert alert-warning mt-5">
    <h4 class="alert-heading">NO Games Found</h4>
    <p class="mb-0">No games were added yet. </p>
    </div>
}
else
{

    <div class="game-grid">
        @foreach (var game in Model)
        {
            <div class="game-card">
                <div class="card-body" style="background-image: url('@($"{FileSettings.ImagePath}/{game.Cover}")');">
                    <span class="badge">@game.Category?.Name</span>
                </div>
                <div class="card-footer">
                    <h5>@game.Name</h5>
                    <div>
                        @foreach (var GameDevice in game.Devices)
                        {
                            <i class="@GameDevice.Device.Icon"></i>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

}

