@model IEnumerable<Game>
@{
    ViewData["Title"] = "Games";
}

<a class="btn btn-outline-secondary btn-lg" asp-action="Create">
    <i class="bi bi-plus-circle-dotted "></i>
    Add Game
</a>
@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">NO Games Found</h4>
        <p class="mb-0">No games were added yet. </p>
    </div>
}
else{

}

